section {
  width: 50%;
  margin: auto;
  padding-top: 20px;

  mat-card {
    min-height: 80vh;
  }
}

@media (max-width: 800px) {
  section {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  section {
    width: 80%;
    margin: auto;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
