<section>
  <mat-card>
    <mat-card-title>
      <h2 class="font-semibold">About Us,</h2>
    </mat-card-title>
    <mat-card-content>
      Growing population and demand creates need for manufacturing of food and
      equivalently its disposal. Even though it has been biodegradable it is put
      to just manuring or composting uses. Value addition to waste is the
      concept of our web application. Connecting different food and bio waste
      producers to the right users can earn profits and proper utilization of
      resources to its maximum. The wastes from restaurants and other
      Agricultural industries are collected as raw materials. Without separation
      are used as feed for a Pest called Black Soldier Fly (BSF). Later this BSF
      can be used as feed for poultry, as it consumes waste and converts the
      waste directly to animal protein. There's not much awareness about this
      beneficial pest in Tamil Nadu. Utilization of waste this way reduces time
      and more complex processing.
    </mat-card-content>
    <div class="img">
      <img
        src="assets/streamline-icon-coworker-2-3@400x400.PNG"
        [width]="300"
        alt="Group-Image"
      />
    </div>
  </mat-card>
</section>
