<section>
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
      <span class="text-900">Find Food, </span>
      <span class="text-green-600">Near You</span>
    </div>
    <div class="text-700 text-sm mb-6">
      Join the Food Rescue Revolution!
    </div>
    <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-slack text-4xl text-green-500"></i>
        </span>
        <div class="text-900 mb-3 font-medium">Lets work together</div>
        <span class="text-700 text-sm line-height-3"
          >Share Your Plate, Join the Movement to End Hunger.</span
        >
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-globe text-4xl text-green-500"></i>
        </span>
        <div class="text-900 mb-3 font-medium">Our Mission</div>
        <span class="text-700 text-sm line-height-3"
          ></span
        >Our mission is to connect surplus food with those in need, reducing food waste and fighting hunger
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-car text-4xl text-green-500"></i>
        </span>
        <div class="text-900 mb-3 font-medium">Transportaion</div>
        <span class="text-700 text-sm line-height-3"
          >We are committed to ending food waste and hunger by connecting surplus food to those who need it most, one meal at a time.</span
        >
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-eye text-4xl text-green-500"></i>
        </span>
        <div class="text-900 mb-3 font-medium">Hunger Support</div>
        <span class="text-700 text-sm line-height-3"
          >We ensuring that every meal counts and no edible food is left behind</span
        >
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-users text-4xl text-green-500"></i>
        </span>
        <div class="text-900 mb-3 font-medium">Become a Volunteer</div>
        <span class="text-700 text-sm line-height-3"
          >Join us in feeding the hunger, for together we can make the world hungerfree..
        </span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-chart-line text-4xl text-green-500"></i>
        </span>
        <div class="text-900 mb-3 font-medium">Spread the World</div>
        <span class="text-700 text-sm line-height-3"
          >Encourage visitors to share our website and mission on social media.</span
        >
      </div>
    </div>
  </div>
  <div class="home-available-scraps">
    <app-home-available-scraps></app-home-available-scraps>
  </div>
</section>
